* linguist-vendored
*.Rdata linguist-vendored=false
*.rdb linguist-vendored=false
*.rds  linguist-vendored=false
*.Rd linguist-vendored=false
*.Rmd linguist-vendored=false
*.R linguist-vendored=false
*.Rdx linguist-vendored=false

# Basic .gitattributes for a R repo.

# Source files
# ============
*.Rdata     text
*.rdb       binary
*.rds       binary
*.Rd        text
*.Rdx       binary
*.Rmd		text
*.R  		text
